Repository bounswe/bounswe2020group5, pull requests merged in 2020-12, with the labels that each got.

#186 Backend/ Product Model and Add Product Feature for Vendor
  app/backend/.gitignore
  app/backend/api/admin.py
  app/backend/api/models/__init__.py
  app/backend/api/models/products.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/products.py
  app/backend/api/urls.py
  app/backend/api/utils/__init__.py
  app/backend/api/utils/utils.py
  app/backend/api/views/__init__.py
  app/backend/api/views/products.py
  app/backend/bupazar/settings.py
  app/backend/bupazar/storage_backends.py
  app/backend/requirements.txt
Labels: Priority: Medium, Status: Needs Review, Type: Meeting, backend, enhancement

#189 frontend/ redirections from home to product page
  .gitignore
  app/frontend/src/components/SimpleGridList.js
  app/frontend/src/home/Home.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/product/CommentList.js
  app/frontend/src/product/product.js
Labels: Priority: Medium, Status: Needs Review, frontend

#201 Frontend email verification
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/public/index.html
  app/frontend/src/App.js
  app/frontend/src/signup/EmailVerification.js
  app/frontend/src/signup/Signup.js
Labels: Priority: High, frontend

#203 Backend feature comment and rating of the products
  app/backend/api/models/__init__.py
  app/backend/api/models/products.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/products.py
  app/backend/api/serializers/users.py
  app/backend/api/urls.py
  app/backend/api/utils/utils.py
  app/backend/api/views/__init__.py
  app/backend/api/views/products.py
  app/backend/api/views/users.py
Labels: Priority: Medium, Status: Needs Review, backend

#222 my account tab layout implementation
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_address.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_exit_to_app_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_help_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_keyboard_arrow_right_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_message_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_order.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_person_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/rectangle_border.xml
  app/mobile/BuPazar/app/src/main/res/drawable/transparent_rectangle_border.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_my_account.xml
Labels: mobile

#227 Backend feature comment
  app/backend/api/models/products.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/products.py
  app/backend/api/views/products.py
Labels: Priority: Medium, Status: Needs Review, backend

#231 Backend/ Various Product Endpoints
  .github/workflows/backend_deploy.yml
  app/backend/.gitignore
  app/backend/Dockerfile
  app/backend/api/custom_permissions.py
  app/backend/api/models/__init__.py
  app/backend/api/models/products.py
  app/backend/api/models/temp_users.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/products.py
  app/backend/api/serializers/users.py
  app/backend/api/templates/email_password_reset_template.html
  app/backend/api/templates/email_verification_template.html
  app/backend/api/urls.py
  app/backend/api/utils/__init__.py
  app/backend/api/utils/utils.py
  app/backend/api/views/__init__.py
  app/backend/api/views/products.py
  app/backend/api/views/products_details.py
  app/backend/api/views/products_filter.py
  app/backend/api/views/users.py
  app/backend/bupazar/settings.py
  app/backend/bupazar_config.py
  app/backend/requirements.txt
  app/backend/shared_memory.json
Labels: Priority: High, Status: Needs Review, Type: Meeting, backend, python

#234 gridview to show products is added.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/Product.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
  app/mobile/BuPazar/app/src/main/res/drawable/homepage_banner.png
  app/mobile/BuPazar/app/src/main/res/drawable/ic_empty_fav_icon.xml
  app/mobile/BuPazar/app/src/main/res/drawable/item_border.xml
  app/mobile/BuPazar/app/src/main/res/drawable/round_border.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_homepage.xml
  app/mobile/BuPazar/app/src/main/res/layout/homepage_activity.xml
  app/mobile/BuPazar/app/src/main/res/layout/item_product.xml
Labels: mobile

#237 backend/ Credit card information
  app/backend/api/models/__init__.py
  app/backend/api/models/orders.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/orders.py
  app/backend/api/urls.py
  app/backend/api/views/__init__.py
  app/backend/api/views/orders.py
Labels: Priority: Medium, Status: Needs Review, backend

#207 Frontend add product
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.js
  app/frontend/src/common/Requests.js
  app/frontend/src/login/Login.css
  app/frontend/src/product/AddProduct.js
  app/frontend/src/signup/Signup.css
Labels: Priority: Medium, frontend

#238 mobile/retrieval of products from backend to show on homepage
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/AllProductsRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/AllProductsResponse.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/Product.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ProductDetails.kt
Labels: Priority: High, mobile

#241 Mobile profile page
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/LoginResponse.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/Success.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/HomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/RegisterActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/MyAccountFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
Labels: Priority: High, Status: Needs Review, mobile

#242 Mobile product page, and conflict resolves
  app/mobile/BuPazar/app/build.gradle
  app/mobile/BuPazar/app/src/main/ic_shopping_basket-playstore.png
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ProductDetails.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ProductFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable-anydpi/ic_erase_shopping_basket.xml
  app/mobile/BuPazar/app/src/main/res/drawable-hdpi/design.png
  app/mobile/BuPazar/app/src/main/res/drawable-hdpi/fav.png
  app/mobile/BuPazar/app/src/main/res/drawable-hdpi/ic_erase_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/drawable-hdpi/leather.png
  app/mobile/BuPazar/app/src/main/res/drawable-hdpi/share.png
  app/mobile/BuPazar/app/src/main/res/drawable-mdpi/design.png
  app/mobile/BuPazar/app/src/main/res/drawable-mdpi/fav.png
  app/mobile/BuPazar/app/src/main/res/drawable-mdpi/ic_erase_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/drawable-mdpi/leather.png
  app/mobile/BuPazar/app/src/main/res/drawable-mdpi/share.png
  app/mobile/BuPazar/app/src/main/res/drawable-xhdpi/design.png
  app/mobile/BuPazar/app/src/main/res/drawable-xhdpi/fav.png
  app/mobile/BuPazar/app/src/main/res/drawable-xhdpi/ic_erase_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/drawable-xhdpi/leather.png
  app/mobile/BuPazar/app/src/main/res/drawable-xhdpi/share.png
  app/mobile/BuPazar/app/src/main/res/drawable-xxhdpi/design.png
  app/mobile/BuPazar/app/src/main/res/drawable-xxhdpi/fav.png
  app/mobile/BuPazar/app/src/main/res/drawable-xxhdpi/ic_erase_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/drawable-xxhdpi/leather.png
  app/mobile/BuPazar/app/src/main/res/drawable-xxhdpi/share.png
  app/mobile/BuPazar/app/src/main/res/drawable/border.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_shopping_basket_background.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_shopping_basket_foreground.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_categories.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_product.xml
  app/mobile/BuPazar/app/src/main/res/layout/spinner_item.xml
  app/mobile/BuPazar/app/src/main/res/layout/toolbar.xml
  app/mobile/BuPazar/app/src/main/res/mipmap-anydpi-v26/ic_shopping_basket.xml
  app/mobile/BuPazar/app/src/main/res/mipmap-anydpi-v26/ic_shopping_basket_round.xml
  app/mobile/BuPazar/app/src/main/res/mipmap-hdpi/ic_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/mipmap-hdpi/ic_shopping_basket_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-mdpi/ic_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/mipmap-mdpi/ic_shopping_basket_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xhdpi/ic_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xhdpi/ic_shopping_basket_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxhdpi/ic_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxhdpi/ic_shopping_basket_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxxhdpi/ic_shopping_basket.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxxhdpi/ic_shopping_basket_round.png
  app/mobile/BuPazar/app/src/main/res/values/colors.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: mobile

#256 Frontend addproduct complete
  app/frontend/src/home/Navbar.js
  app/frontend/src/product/AddProduct.js
Labels: Priority: High, frontend

#248 frontend/ product page: url & comments & visual updates
  app/frontend/public/img/discount.png
  app/frontend/src/App.js
  app/frontend/src/components/SimpleGridList.js
  app/frontend/src/home/Home.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/product/CommentList.js
  app/frontend/src/product/product.js
  app/frontend/src/profile/ChangePassword.js
Labels: Priority: Medium, Status: Needs Review, frontend

#255 mobile/add to cart & remove from cart in product page
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/AddToCartRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/AddToCartResponse.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/HomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/BasketFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ProductFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_add_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_remove_24.xml
  app/mobile/BuPazar/app/src/main/res/layout/cart_product_item.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_basket.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_cart.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_product.xml
  app/mobile/BuPazar/app/src/main/res/layout/item_product.xml
Labels: Status: Needs Review, mobile

#262 mobile/Implementation of cart page
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CartProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/HomepageProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/HomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/BasketFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/CartFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
  app/mobile/BuPazar/app/src/main/res/layout/cart_product_item.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_cart.xml
Labels: Priority: High, mobile

#263 Mobile user profile page
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/LoginResponse.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/VerificationRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/HomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/RegisterActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/GuestUserAccountFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/register/AuthFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/layout/fragment_auth.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_guest_user_account.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_login.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: Priority: High, Status: Needs Review, mobile

#265 frontend/ add to cart
  app/frontend/public/img/discount.png
  app/frontend/src/App.js
  app/frontend/src/components/SimpleGridList.js
  app/frontend/src/home/Home.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/product/CommentList.js
  app/frontend/src/product/product.js
  app/frontend/src/profile/ChangePassword.js
Labels: Priority: High, Status: Needs Review, frontend

#264 frontend/ lists
  app/frontend/src/App.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/list/Favorites.js
  app/frontend/src/list/ListPage.js
  app/frontend/src/list/ListsPage.js
  app/frontend/src/product/product.js
  app/frontend/src/profile/Profile.js
Labels: Priority: High, Status: Needs Review, frontend

#267 Frontend cart
  app/frontend/src/App.js
  app/frontend/src/cart/Cart.js
  app/frontend/src/cart/CartProduct.js
  app/frontend/src/common/Requests.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/product/product.js
Labels: Priority: High, enhancement, frontend

#283 mobile-forgot my password button activated.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ForgotPasswordRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/login/ForgotPasswordFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/layout/fragment_forgot_password.xml
Labels: Priority: Medium, Status: Needs Review, mobile

#289 mobile/ Mobile chat system
  app/mobile/BuPazar/app/src/main/AndroidManifest.xml
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/User.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/Chat.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ChatAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ChatCreateRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ChatCreateResponse.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ChatRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/Message.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/MessageAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/message/ChatActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/message/MessageMainActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/MyAccountFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/utils/DateUtils.kt
  app/mobile/BuPazar/app/src/main/res/drawable/my_chat_bubble.xml
  app/mobile/BuPazar/app/src/main/res/drawable/my_chat_bubble2.xml
  app/mobile/BuPazar/app/src/main/res/drawable/my_message_bubble.xml
  app/mobile/BuPazar/app/src/main/res/drawable/other_message_bubble.xml
  app/mobile/BuPazar/app/src/main/res/layout/activity_chat.xml
  app/mobile/BuPazar/app/src/main/res/layout/activity_message_main.xml
  app/mobile/BuPazar/app/src/main/res/layout/item_chat.xml
  app/mobile/BuPazar/app/src/main/res/layout/my_message.xml
  app/mobile/BuPazar/app/src/main/res/layout/other_message.xml
Labels: Status: Needs Review, mobile

#287 frontend/ payment and cart integration
  app/frontend/Dockerfile
  app/frontend/src/cart/Cart.js
  app/frontend/src/cart/CartProduct.js
  app/frontend/src/components/gridlistforsearch.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/payment/Payment.js
  app/frontend/src/product/product.js
Labels: Priority: High, frontend, integration

#294 mobile/ordering is implemented
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/CreditCardCommunicator.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/AddCreditCardRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CartProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CreditCard.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CreditCardAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/HomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/CartFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/OrderFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/PayWithAnotherCardFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/SuccessfulOrderFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_check_circle_24.xml
  app/mobile/BuPazar/app/src/main/res/layout/credit_card_item.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_cart.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_order.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_pay_with_another_card.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_successful_order.xml
Labels: Priority: High, mobile

#296 Mobile/ navigation from product to creating new chat
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ProductFragment.kt
  app/mobile/BuPazar/app/src/main/res/layout/fragment_product.xml
Labels: mobile
