Repository bounswe/bounswe2020group5, pull requests merged in 2020-11, with the labels that each got.

#120 initial django project
  app/backend/.gitignore
  app/backend/README.md
  app/backend/bupazar/bupazar/__init__.py
  app/backend/bupazar/bupazar/asgi.py
  app/backend/bupazar/bupazar/settings.py
  app/backend/bupazar/bupazar/urls.py
  app/backend/bupazar/bupazar/wsgi.py
  app/backend/bupazar/manage.py
  app/backend/init.sh
  app/backend/requirements.txt
Labels: Priority: High, Status: Needs Review, Type: Meeting

#116 Create first frontend repo
  app/frontend/.gitignore
  app/frontend/README.md
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/public/favicon.ico
  app/frontend/public/index.html
  app/frontend/public/logo192.png
  app/frontend/public/logo512.png
  app/frontend/public/manifest.json
  app/frontend/public/robots.txt
  app/frontend/src/App.css
  app/frontend/src/App.js
  app/frontend/src/App.test.js
  app/frontend/src/index.css
  app/frontend/src/index.js
  app/frontend/src/logo.svg
  app/frontend/src/reportWebVitals.js
  app/frontend/src/setupTests.js
Labels: Priority: High, Status: Needs Review, Type: Meeting

#121 mobile-Initializing the android project
  app/mobile/BuPazar/.gitignore
  app/mobile/BuPazar/app/.gitignore
  app/mobile/BuPazar/app/build.gradle
  app/mobile/BuPazar/app/proguard-rules.pro
  app/mobile/BuPazar/app/src/androidTest/java/com/example/bupazar/ExampleInstrumentedTest.kt
  app/mobile/BuPazar/app/src/main/AndroidManifest.xml
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/MainActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/core/BaseActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/core/BasePresenter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/core/BaseRepository.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/core/BaseView.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/RegisterFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/login/presenter/LoginPresenter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/login/view/LoginFragment.kt
  app/mobile/BuPazar/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_launcher_background.xml
  app/mobile/BuPazar/app/src/main/res/layout/activity_base.xml
  app/mobile/BuPazar/app/src/main/res/layout/activity_login.xml
  app/mobile/BuPazar/app/src/main/res/layout/activity_main.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_login.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_register.xml
  app/mobile/BuPazar/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/mobile/BuPazar/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/mobile/BuPazar/app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/mobile/BuPazar/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/mobile/BuPazar/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/mobile/BuPazar/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/mobile/BuPazar/app/src/main/res/values-night/themes.xml
  app/mobile/BuPazar/app/src/main/res/values/colors.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
  app/mobile/BuPazar/app/src/main/res/values/themes.xml
  app/mobile/BuPazar/app/src/test/java/com/example/bupazar/ExampleUnitTest.kt
  app/mobile/BuPazar/build.gradle
  app/mobile/BuPazar/gradle.properties
  app/mobile/BuPazar/gradle/wrapper/gradle-wrapper.jar
  app/mobile/BuPazar/gradle/wrapper/gradle-wrapper.properties
  app/mobile/BuPazar/gradlew
  app/mobile/BuPazar/gradlew.bat
  app/mobile/BuPazar/settings.gradle
Labels: Status: Needs Review, mobil

#122 Changed project structure
  app/frontend/package-lock.json
  app/frontend/src/App.js
  app/frontend/src/App.test.js
  app/frontend/src/common/NoMatch.js
  app/frontend/src/home/Home.js
  app/frontend/src/home/Home.test.js
  app/frontend/src/index.js
  app/frontend/src/login/Login.js
Labels: Priority: High, dependencies

#124 Api Layer and Necessary Folders
  app/backend/README.md
  app/backend/api/__init__.py
  app/backend/api/admin.py
  app/backend/api/apps.py
  app/backend/api/migrations/__init__.py
  app/backend/api/models/.keep
  app/backend/api/serializers/users.py
  app/backend/api/tests/.keep
  app/backend/api/urls.py
  app/backend/api/views/users.py
  app/backend/bupazar/__init__.py
  app/backend/bupazar/asgi.py
  app/backend/bupazar/settings.py
  app/backend/bupazar/urls.py
  app/backend/bupazar/wsgi.py
  app/backend/init.sh
  app/backend/manage.py
  app/backend/requirements.txt
Labels: Priority: High, Status: Needs Review, Type: Meeting

#128 frontend/ Navbar and footer are added to initial home page.
  app/frontend/package.json
  app/frontend/public/img/logo.png
  app/frontend/src/App.js
  app/frontend/src/components/CategoryTab.js
  app/frontend/src/components/Footer.js
  app/frontend/src/components/SimpleGridList.js
  app/frontend/src/components/Toggle-menu.js
  app/frontend/src/components/tileData.js
  app/frontend/src/components/tileData2.js
  app/frontend/src/home/Home.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/img/10364373860402.jpg
  app/frontend/src/img/10685527785522.jpg
Labels: Priority: High, Status: Needs Review, frontend

#151 Login connect backend
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.js
  app/frontend/src/common/Requests.js
  app/frontend/src/common/ServerUrl.js
  app/frontend/src/login/Login.js
  app/frontend/src/signup/Signup.js
  app/frontend/src/signup/Validate.js
  app/frontend/src/signup/Vendor.js
Labels: Priority: High, frontend

#156 Password change page
  app/backend/.gitignore
  app/backend/Dockerfile
  app/backend/README.md
  app/backend/api/__init__.py
  app/backend/api/admin.py
  app/backend/api/models/.keep
  app/backend/api/models/__init__.py
  app/backend/api/models/users.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/users.py
  app/backend/api/templates/swagger-ui.html
  app/backend/api/urls.py
  app/backend/api/utils/__init__.py
  app/backend/api/utils/utils.py
  app/backend/api/views/__init__.py
  app/backend/api/views/users.py
  app/backend/bupazar/settings.py
  app/backend/bupazar/urls.py
  app/backend/requirements.txt
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.js
  app/frontend/src/common/Requests.js
  app/frontend/src/common/ServerUrl.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/login/Login.js
  app/frontend/src/profile/ChangePassword.js
  app/frontend/src/profile/Profile.js
  app/frontend/src/profile/Validate.js
  app/frontend/src/signup/Signup.js
  app/frontend/src/signup/Validate.js
  app/frontend/src/signup/Vendor.js
Labels: Priority: High, Status: Needs Review, frontend

#159 mobile - Login and Homepage redirection
  app/mobile/BuPazar/app/build.gradle
  app/mobile/BuPazar/app/src/main/AndroidManifest.xml
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/LoginRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/LoginResponse.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/ServiceBuilder.kt
  app/mobile/BuPazar/app/src/main/res/drawable-v24/background.xml
Labels: mobile

#160 Mobile yasar
  app/mobile/BuPazar/app/build.gradle
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/Product.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/HomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/ProductsAdapter.java
  app/mobile/BuPazar/app/src/main/res/layout/homepage_activity.xml
  app/mobile/BuPazar/app/src/main/res/layout/item_product.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: Priority: High, mobile

#161 mobile - Register is complete (Error handling is not sufficient)
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/LoginRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/RegisterRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/RegisterActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/layout/fragment_register.xml
Labels: Priority: High, mobile
