Repository bounswe/bounswe2020group5, pull requests merged in 2021-01, with the labels that each got.

#321 Backend/ Enhanced Logins
  .github/workflows/backend_deploy.yml
  .github/workflows/frontend_deploy.yml
  app/backend/api/models/__init__.py
  app/backend/api/models/chats.py
  app/backend/api/models/social_documents.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/chats.py
  app/backend/api/serializers/orders.py
  app/backend/api/serializers/users.py
  app/backend/api/tests/.keep
  app/backend/api/tests/__init__.py
  app/backend/api/tests/test_add_credit_card.py
  app/backend/api/tests/test_cancel_order.py
  app/backend/api/tests/test_comment_rating.py
  app/backend/api/tests/test_create_chat.py
  app/backend/api/tests/test_filter_product.py
  app/backend/api/tests/test_google_login.py
  app/backend/api/tests/test_product_detail.py
  app/backend/api/tests/test_register.py
  app/backend/api/tests/test_register_activate.py
  app/backend/api/tests/test_search_product.py
  app/backend/api/tests/test_send_message.py
  app/backend/api/tests/test_sort_product.py
  app/backend/api/tests/test_update_product.py
  app/backend/api/tests/test_update_status.py
  app/backend/api/utils/__init__.py
  app/backend/api/utils/utils.py
  app/backend/api/views/__init__.py
  app/backend/api/views/chats.py
  app/backend/api/views/orders_details.py
  app/backend/api/views/products.py
  app/backend/api/views/users.py
  app/backend/bupazar/settings.py
  app/backend/requirements.txt
  app/backend/shared_memory.json
Labels: Priority: Medium, Status: Needs Review, Type: Meeting, backend, enhancement, python

#307 Vendorprofilefixes
  app/frontend/src/App.js
  app/frontend/src/home/Navbar.js
  app/frontend/src/profile/Profile.js
  app/frontend/src/vendorproduct/Vendoreditproduct.js
  app/frontend/src/vendorproduct/Vendorproduct.js
  app/frontend/src/vendorproduct/Vendorproductlist.js
Labels: frontend

#334 backend/ bug fix: status variable name changed to new_status
  app/backend/api/views/orders_details.py
Labels: Priority: Medium, Type: Bug, backend

#339 Backend/ Recommendation System
  app/backend/api/models/search_history.py
  app/backend/api/tests/__init__.py
  app/backend/api/tests/test_recommend_product.py
  app/backend/api/urls.py
  app/backend/api/views/__init__.py
  app/backend/api/views/products_filter.py
  app/backend/api/views/recommendation.py
Labels: Priority: Medium, Status: Completed, Status: Needs Review, backend, enhancement, python

#349 Backend/ Alarms
  app/backend/api/models/__init__.py
  app/backend/api/models/alarm.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/alarm.py
  app/backend/api/urls.py
  app/backend/api/views/__init__.py
  app/backend/api/views/alarm.py
  app/backend/api/views/orders_details.py
Labels: Priority: Medium, Status: Completed, Status: Needs Review, backend, enhancement, python

#347 frontend/ assessments
  app/frontend/src/App.js
  app/frontend/src/login/Login.js
  app/frontend/src/product/product.js
  app/frontend/src/profile/Assessments.js
  app/frontend/src/profile/Profile.js
  app/frontend/src/vendorproduct/VendorProductTypes.js
  app/frontend/src/vendorproduct/Vendorproduct.js
  app/frontend/src/vendorproduct/Vendorproductlist.js
Labels: Priority: Medium, Status: Needs Review, frontend, javascript

#357 backend/ discount increase notification and admin permission are added
  app/backend/api/custom_permissions.py
  app/backend/api/views/admins.py
  app/backend/api/views/products.py
Labels: Homework, Priority: High, assignment, backend

#364 backend/ Shipment model and add/get shipment endpoints are implemented.
  app/backend/api/models/__init__.py
  app/backend/api/models/orders.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/orders.py
  app/backend/api/urls.py
  app/backend/api/views/__init__.py
  app/backend/api/views/orders_details.py
Labels: Priority: Medium, Status: Completed, Status: Needs Review, backend, python

#363 mobile/ googleLogin finished. #353
  app/mobile/BuPazar/app/build.gradle
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/AuthTokenRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable-hdpi/google_icon.png
  app/mobile/BuPazar/app/src/main/res/drawable-mdpi/google_icon.png
  app/mobile/BuPazar/app/src/main/res/drawable-xhdpi/google_icon.png
  app/mobile/BuPazar/app/src/main/res/drawable-xxhdpi/google_icon.png
  app/mobile/BuPazar/app/src/main/res/drawable-xxxhdpi/google_icon.png
  app/mobile/BuPazar/app/src/main/res/layout/fragment_login.xml
  app/mobile/BuPazar/app/src/main/res/values/colors.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: mobile

#370 Backend/ Fixing Response Descriptions of Swagger
  app/backend/api/views/products_details.py
  app/backend/api/views/products_filter.py
Labels: Priority: Low, Status: Completed, Status: Needs Review, Type: Bug, backend

#374 Backend/ Recommendation, Notifications, Shipment and Vendor Rating
  app/backend/api/custom_permissions.py
  app/backend/api/models/__init__.py
  app/backend/api/models/admins.py
  app/backend/api/models/alarm.py
  app/backend/api/models/notifications.py
  app/backend/api/models/orders.py
  app/backend/api/models/search_history.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/admins.py
  app/backend/api/serializers/alarm.py
  app/backend/api/serializers/notifications.py
  app/backend/api/serializers/orders.py
  app/backend/api/serializers/products.py
  app/backend/api/tests/__init__.py
  app/backend/api/tests/test_admin_delete_comment.py
  app/backend/api/tests/test_admin_delete_user_by_comment_id.py
  app/backend/api/tests/test_assign_admin.py
  app/backend/api/tests/test_block_user.py
  app/backend/api/tests/test_delete_price_alarm.py
  app/backend/api/tests/test_is_admin.py
  app/backend/api/tests/test_my_price_alarms.py
  app/backend/api/tests/test_recommend_product.py
  app/backend/api/tests/test_set_price_alarm.py
  app/backend/api/urls.py
  app/backend/api/utils/__init__.py
  app/backend/api/utils/utils.py
  app/backend/api/views/__init__.py
  app/backend/api/views/admins.py
  app/backend/api/views/alarm.py
  app/backend/api/views/chats.py
  app/backend/api/views/notifications.py
  app/backend/api/views/orders.py
  app/backend/api/views/orders_details.py
  app/backend/api/views/products.py
  app/backend/api/views/products_details.py
  app/backend/api/views/products_filter.py
  app/backend/api/views/recommendation.py
  app/backend/api/views/users.py
  app/backend/requirements.txt
Labels: Priority: High, Status: Needs Review, backend, enhancement, integration, python

#375 Frontend forgot complete
  app/frontend/src/App.js
  app/frontend/src/login/Forgot.js
  app/frontend/src/login/ForgotChange.js
  app/frontend/src/login/Login.js
Labels: Priority: Medium, enhancement, frontend

#379 mobile/ mobile categories are implemented.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CategoryRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/SubCategoryRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoryElectronics.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoryFashion.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoryHobbie.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoryHome.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoryPersonalCare.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoryProductsFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategorySports.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/SubCategoryProductsFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable/button_design.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_cashless_payment.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_installment.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_search.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_shipping.xml
  app/mobile/BuPazar/app/src/main/res/drawable/round.xml
  app/mobile/BuPazar/app/src/main/res/layout/credit_card_item.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_categories.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_electronics_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_fashion_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_hobbie_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_home_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_login.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_order.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_pay_with_another_card.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_personal_care_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_sports_category.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: Status: Completed, Status: Needs Review, mobile

#381 mobile/previous orders page is now implemented.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CreditCardAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/Order.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/OrderPhotosAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/PreviousOrdersAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/MyAccountFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/PayWithAnotherCardFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/register/PreviousOrdersFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable-hdpi/ic_baseline_order_white.xml
  app/mobile/BuPazar/app/src/main/res/drawable/.shoes.png.icloud
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_arrow_back_ios_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_check_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_electric_rickshaw_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_baseline_hourglass_top_24.xml
  app/mobile/BuPazar/app/src/main/res/drawable/shoes.png
  app/mobile/BuPazar/app/src/main/res/layout/fragment_previous_orders.xml
  app/mobile/BuPazar/app/src/main/res/layout/order_item.xml
  app/mobile/BuPazar/app/src/main/res/layout/order_photo_item.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: Status: Needs Review, mobile

#380 mobile/homepage search bar is implemented.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/HomepageProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
Labels: mobile

#382 /frontend frontend shipmentinfoandreturn shipment info adding for the…
  app/frontend/src/components/vendorstatusupdate.js
  app/frontend/src/orders/order.js
  app/frontend/src/orders/orderlist.js
  app/frontend/src/vendororder/vendororder.js
  app/frontend/src/vendororder/vendororderlist.js
Labels: Priority: High, enhancement, frontend

#384 Backend/ Bug Fixes and Notification Seen Info
  app/backend/api/models/notifications.py
  app/backend/api/serializers/__init__.py
  app/backend/api/serializers/notifications.py
  app/backend/api/views/notifications.py
  app/backend/api/views/orders.py
Labels: Priority: Medium, Status: Needs Review, backend, enhancement, python

#387 Mobile-add-comment-rate
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/AddComment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CommentDetails.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/RegisterActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ProductFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/layout/fragment_product.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_register.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: Priority: High, Status: Needs Review, mobile

#389 mobile/ Featured products are added to the home page.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/User.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/FeaturedProductsRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/FeaturedProductsValue.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/PreviousOrdersAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/message/ChatActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/SpesificProductsFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoriesFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/CategoryProductsFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/categories/SubCategoryProductsFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable/button_design.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_checked.xml
  app/mobile/BuPazar/app/src/main/res/drawable/ic_shopping_bag.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_auth.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_change_password.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_edit_profile_info.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_electronics_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_fashion_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_forgot_password.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_guest_user_account.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_hobbie_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_home_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_homepage.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_personal_care_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_profile_page.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_register.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_spesific_products.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_sports_category.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_successful_order.xml
  app/mobile/BuPazar/app/src/main/res/values/colors.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: Priority: High, Status: Needs Review, mobile

#388 mobile- homepage for vendors
  app/mobile/BuPazar/app/src/main/AndroidManifest.xml
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/User.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/home/HomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/LoginActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/VendorHomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/MyAccountFragment.kt
  app/mobile/BuPazar/app/src/main/res/drawable/ic_add_to_cart.xml
  app/mobile/BuPazar/app/src/main/res/layout/activity_vendor_homepage.xml
Labels: enhancement, mobile

#394 Mobile-notification
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/NotificationAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/NotificationResponse.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ProductDetails.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/MyAccountFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/NotificationFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/layout/fragment_my_account.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_notification.xml
  app/mobile/BuPazar/app/src/main/res/layout/notification_row.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: Priority: High, Status: Needs Review, mobile

#390 mobile/search bar implementation for recommended, trending and new arrival lists
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/HomepageProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/SpesificProductsFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/drawable/.shoes.png.icloud
Labels: mobile

#391 mobile/ Mobile change password and user logout(successfully) are implemented.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/ChangePasswordFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/PasswordChangeRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ChangePasswordFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/MyAccountFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ProfilePageFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
Labels: Priority: High, mobile

#395 Mobile/ hotfix vendors can edit profile info and password
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ChangePasswordFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/EditProfileInfoFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ProfilePageFragment.kt
Labels: mobile

#396 mobile/vendor order page and vendor order details page implementation is done.
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/interface/RestApi.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/UpdateStatusRequest.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/VendorOrdersAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/activity/login/VendorHomepageActivity.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/VendorOrderDetailFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/VendorOrdersFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/service/RestApiService.kt
  app/mobile/BuPazar/app/src/main/res/layout/fragment_vendor_order_detail.xml
  app/mobile/BuPazar/app/src/main/res/layout/fragment_vendor_orders.xml
  app/mobile/BuPazar/app/src/main/res/values/colors.xml
  app/mobile/BuPazar/app/src/main/res/values/strings.xml
Labels: mobile

#397 mobile- Vendor chat hotfix, username was not shown
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/ChatAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/MessageAdapter.kt
Labels: mobile

#377 Frontend admin
  app/frontend/src/product/AdminCommentList.js
  app/frontend/src/product/product.js
Labels: Priority: High, enhancement, frontend

#350 Banning user if s/he enters password wrong more than 3 time and recommending user to change password regularly are added.
  app/backend/api/migrations/0002_banneduser_loginfailinfos_passwordchangeddate.py
  app/backend/api/models/__init__.py
  app/backend/api/models/banned_users.py
  app/backend/api/models/login_fail_infos.py
  app/backend/api/models/password_infos.py
  app/backend/api/serializers/users.py
  app/backend/api/templates/password_change_warning.html
  app/backend/api/views/users.py
Labels: Priority: High, assignment, backend

#398 Backend bug fix
  app/backend/api/tests/__init__.py
  app/backend/api/tests/test_admin_delete_comment.py
  app/backend/api/tests/test_admin_delete_user_by_comment_id.py
  app/backend/api/tests/test_assign_admin.py
  app/backend/api/tests/test_block_user.py
  app/backend/api/tests/test_create_chat.py
  app/backend/api/tests/test_google_login.py
  app/backend/api/tests/test_is_admin.py
  app/backend/api/tests/test_register.py
  app/backend/api/tests/test_register_activate.py
  app/backend/api/views/admins.py
  app/backend/api/views/chats.py
  app/backend/api/views/users.py
Labels: Priority: High, assignment, backend

#402 frontend/ fix bug user can't proceed w/ empty cart
  app/frontend/src/payment/Payment.js
Labels: Priority: High, Type: Bug, frontend

#410 Frontend terms conditions
  app/frontend/package-lock.json
  app/frontend/src/App.js
  app/frontend/src/agreements/Terms.js
  app/frontend/src/signup/Signup.js
Labels: Priority: High, enhancement, frontend

#411 mobile/instant delivery bug fix & recent orders shown at top vendor orders page
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/VendorOrderDetailFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/VendorOrdersFragment.kt
Labels: Priority: High, mobile

#412 mobile/commenting of the fragments&adapters
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CartProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/CreditCardAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/HomepageProductAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/OrderPhotosAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/PreviousOrdersAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/model/VendorOrdersAdapter.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/HomepageFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/OrderFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/PayWithAnotherCardFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/ProductFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/SpesificProductsFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/SuccessfulOrderFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/VendorOrderDetailFragment.kt
  app/mobile/BuPazar/app/src/main/java/com/example/bupazar/page/fragment/VendorOrdersFragment.kt
Labels: Priority: Low, mobile
